*{
    /* width: 100%; */
    margin: 0;
    box-sizing: border-box;
}
.h1{
    background-image: url(zomato-1.avif);
    height: 500px;
    background-size: cover;
    object-fit: cover;
}
.h111{
    width: 250px;
    margin-right: 160px;
}
.c1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #ffffffe5;
    font-size: 18PX;
    padding: 8px;
    
}
option{
    margin-top: 15px;
}
.paltu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.paltu1{
    margin-left: 30px;
}
/* .h12 img{
    width: 300px;
    height: 60px;
    margin-top: 100px;
    margin-left: 350px;
} */
.h116{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.h13 h1{
    color: white;
    font-size: 45px;
    margin-left: 75px;
    margin-top: 25px;

}
.h14{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-color: #f8f8f8; */
}

.search-container {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 55px;
    max-width: 750px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 7px;
    color: black;
    margin-top: 30px;
}

.location-selector {
    border: none;
    font-size: 15px;
    width: 200px;
    display: flex;
}

/* .location-icon {
    font-size: 18px;
    color: #ff5656;
    margin-right: 5px;
} */
/* .search-input {
    border: none;
    padding: 5px;
    font-size: 14px;
    flex-grow: 1;
} */

/* .search-input:focus {
    outline: none;
} */
.h116{
    display: inline-block;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 250px;
}
.h14:first-child {
    margin-top: 150px;
}
.h12 img{
    height: 60px;
    width: 300px;
    margin-top: 100px;
    margin-left: 350px;
}

.loc{
    color: #ff5656;
    font-size: 23px;
}
.loc1{
    color: black;
}
.line{
    padding: 5px;
}
.search-items{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.267);
}
.search-items input{
    max-width: 100%;
    width: 400px;
    font-size: 15px;
    border: none;
    margin: 5px 10px;
    padding: 0 10px;
    margin-left: 0px;
}
.section-1{
    margin-top: 40px;
    margin-bottom: 40px;
}

.features div{
    color: black;

}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    
}
.features{
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.341);
}
.features:hover{
    transform: scale(1.05);
    transition: transform 0.05s;
    cursor: pointer;
}
.features1{
    height: 200px;
}
.features1 img{
    width: 100%;
    height: 190px;
    width: 400px;
    object-fit: cover;
    

}
.features h3, 
.features p{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.section2left h1{
    font-size: 40px;
    margin-bottom: 0;
}
.section2left p{
    font-size: 20px;
    margin-top: 0;
    letter-spacing: 0.25px;
    font-weight: 200%;
}
.section-2top{
    display: flex;
    align-items: center;
    margin-left: 120px;
    justify-content: space-between;
}
.section2right{
    align-self: flex-end;
    color: red;
    margin-right: 140px;
    font-size: 20px;
    
}
.section2body{
    margin-left: 100px;
    display: flex;
    margin-right: 30px;
    margin-top: 25px;
}
.section2item{
    max-width: 300px;
    height: 320px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    position: relative;
    margin-left: 1.2em;
}
.section2item img{
    width: 100%;
    height: 100%;
    /* border-top-left-radius:10px;
    border-top-right-radius:10px; */
    /* box-shadow: -50px -50px 10px rgba(0, 0, 0, 0.2); */
    border-radius: 10px;
    inset: 50px 50px 50px rgba(0, 0, 0, 0.2);
}
.imagediscription{
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
}
.imagediscription p{
    margin: 0;
    font-size: 19px;
}
.imagediscription p:nth-child(2){
    font-size: 18px;
}
.section2{
    padding: 20px 0;
}

.container1{
    margin-left: 100px;
    
    
}

.section3{
    margin: 100px 0;
    color: rgba(29, 29, 29, 0.893);
    
    
}
.section3 h1{
    font-size: 40px;
    color: rgba(29, 29, 29, 0.796);
    margin-left: 20px;
}
.section3 h3{
    font-size: 23px;
    font-weight: 300;
}
.section3 p{
    font-size: 18px;
    
}
.localities_list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 370px; */
    border: 1px solid grey;
    padding: 20px 15px;
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 25px;

}
.localities_card{
    
    align-items: center;
    justify-content: space-between;
    width: 360px;
    height: 50px;
    
}
.localities_card h3,
.localities_card p{
    margin-bottom: 2.5px;
    font-size: 25px;
}
.localities_card p{
    
    font-size: 21.5px;
}

.firstlist{
    display: flex;
    align-items: center;
    /* justify-content: space-between;  */
    
    
}
.secondlist{
    display: flex;
}
.thirdlist{
    display: flex;
}

.section4{
    display: flex;
    margin: auto;
    width: 740px;
    align-items: center;
    background-color: #ffd25614;
}
.zomato-image{
    width: 100px;
    
   
}
.zomato-image img{
    height: 270px;
   
}
.zomato-desc{
    width: 450px;
    height: 350px;
    margin-left: 200px;
    align-items: center;

}
.zomato-desc h1{
    font-size: 44px;
    margin-bottom: 0;
    
}
.zomato-desc p{
    margin-top: 20px;
    font-size: 18px;
    
}
.zomato-desc form{
    margin-top: 20px;
}
/* .zomato-input{
    height: 48px;
} */
.input-cont input{
    height: 48px;
    width: 290px;
    border: 2px solid rgba(16, 15, 15, 0.342);
    border-radius: 7px;
}
.input-cont button{
    height: 48px;
    width: 130px;
    background-color: red;
    border: 2px solid white;
    border-radius: 7px;
    color: aliceblue;
    margin-left: 10px;
}
.input-cont{
    display: flex;
}
.zomato-input{
    margin-top: 20px;
}
.download-section a img{
    margin-top: 20px;
    width: 137px;
    height: 40px;
}
.download-section{
    display: flex;
}

.count{
    width: 15px;
    height: 15px;
    
}
.count img{
    width: 100%;
    height: 100%;
}
.country select{
    /* width: 11px; */
    height: 30px;
    border: none;
    padding: 5px 5px;
}
.country{
    display: flex;
    height: 30px;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 5px;

    
    
}
.country:first-child{
    margin-right: 20px;
}


.countrylanguage{
    display: flex;
    
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 132px;
}
.logo img{
    width: 100%;
}
footer{
    margin: 130px;
}

.footer-menu{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
ul{
    display: block;
}
.app{
    width: 150px;
    display: block;
}
.app img{
    width: 100%;
}
.links{
    margin-top: 7px;
}
.links a i{
    justify-content: space-evenly;
    font-size: 20PX;
    color: #000000;
}

.footer-menu ul{
    padding: 0;
    list-style: none;
}
.footer-menu a{
    color: rgb(140, 134, 134);
    text-decoration: none;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.2;
}
.footer-menu h3{
    font-weight: 525;
    letter-spacing: 1px;
    font-size: 20px;
}
.menuitems ul li{
    margin-top: 7px;
}
.spl{
    margin-top: 50px;
}
.menuitems a img{
    margin-top: 20px;
}
.paltuline{
    margin-top: 50px;
}
.paltupara{
    color: #4f4f4f;
    margin-top: 20px;
    
}

